<app-navigation></app-navigation>
<h1>This is Students Page Information...</h1>
<div class="container" style="padding-top:100px;">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Designation</th>
        <th scope="col">EmailId</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Application Developer</td>
        <td>MarkOtto@gmail.com</td>
        <td><a routerLink="details">Go to Details</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Application Developer</td>
        <td>JacobThornton@gmail.com</td>
        <td><a routerLink="details">Go to Details</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Application Developer</td>
        <td>LarryBird@gmail.com</td>
        <td><a routerLink="details">Go to Details</a></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Application Developer</td>
        <td>MarkOtto@gmail.com</td>
        <td><a routerLink="details">Go to Details</a></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Application Developer</td>
        <td>JacobThornton@gmail.com</td>
        <td><a routerLink="details">Go to Details</a></td>
      </tr>
    </tbody>
  </table>
</div>
